Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: aphrodite-eb-template
      LaunchTemplateData:
        ImageId: ami-0f1c1fcb8dce73d3c
        InstanceType: t2.micro

option_settings:
  aws:autoscaling:launchconfiguration:
    LaunchTemplate: lt-0fc982696a0fae927
